/* Estilos para la alerta */
.alert {
    padding: 20px;
    background-color: #f44336; /* Rojo */
    color: white;
    margin-bottom: 15px;
}

/* Estilos para el botón de cierre */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
/*estilos para la tabla*/
table th {
    background-color: #0001;
    color: white;
}

 .material-symbols-outlined {
     font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
 }

 .material-symbols-outlined {
     font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
 }
